    .categoryPage{
        background-color: #101828;
    }
    .categoryPage .container{
        padding: 100px 10px 0;
    }
    .categoryPage h1{
        text-align: left;
        margin-bottom: 30px;
        color: white;
        text-transform: capitalize;
    }
    .categoryPage .cardsWrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        gap: 50px;
    }
    .categoryPage .blogCard{
        width: 300px;
        min-height: max-content;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        border: 1px solid white
    }
    .categoryPage .blogCard .cardHead{
        width: 100%;
        height: 200px;
    }
    .categoryPage .blogCard img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .categoryPage .blogCard .cardBody{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 10px 30px
    }
    .blogCard .cardBottom{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        align-self: center;
        margin-bottom: 20px;
    }
    .blogCard .cardBottom a{
        border: none;
        background-color: #057EFF;
        padding: 8px 25px;
        border-radius: 5px;
        color: white;
    }
    .blogCard .readTime{
   
        color: grey
    }
    footer {
        padding: 80px 5px 10px
    }
